
body {
    background-image:url("https://kartinki.pics/uploads/posts/2021-04/1617585076_52-p-fon-dlya-saita-temnii-52.jpg");
}
.h1 {
    margin-top: 15px;
     font-size: 50px;
    color: whitesmoke;
    font-family: "Arial", Helvetica Neue, sans-serif;
 }
.main {
    padding-top: -10px;
    margin: -10px;
    margin-left: 30px ;
    border: 5px solid rebeccapurple;
    display: inline-block;
}
.Ava {
    : 30px;
    display: inline-block;

}
.Zagolovok {
    font-family: "Arial", Helvetica Neue, sans-serif;
    border: 5px solid white;
    display: block;
    color: rgba(255, 137, 0, 0.9);
    font-size: 50px;
    margin-top: 100px;
    margin-left: 30px;: ;
}
.description {
    font-family: "Arial", Helvetica Neue, sans-serif;
    border: 5px solid white;
    color: white;
    display: inline-block;
    font-size: 45px;
    margin-left: 10px;
    padding-left: 30px;
    line-height:1.5;


}
.poster {
    border: 5px solid white;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
}
.trailer {
    border: whitesmoke;
    color: #4f66ed;
    font-family: "Arial", Helvetica Neue, sans-serif;
    font-size: 40px;
}
.iframe {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* Соотношение сторон 16:9 */
}
.iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
.youtube {
    text-align: center;
}
.treba {
    padding-top: 100px;
    padding-left: 300px;
    position: absolute;
    display: inline-block;
    border: 5px solid white;
    font-family: "Arial", Helvetica Neue, sans-serif;
    font-size: 50px;
    color: white;
}
.screendesc {
    font-family: "Arial", Helvetica Neue, sans-serif;
    font-size: 50px;
    color: white;
    display: block;
    border: 5px solid white;
    padding-top: 100px;
}
.screenshots {

    display: inline-block;
    width: 100px;
    height: 100px;
}
.screen {
    margin-bottom: 100px;
    padding: 40px;
    margin-left: 350px;
    text-align: center;
    display: inline-block;
    width: 1300px;
    height: 800px;
}
.download_torrent {
    color: white;
    /*Попробуй шрифт AGA Apabesque прекол*/
    font-family: "Calisto MT", Helvetica Neue, sans-serif;
    font-size: 50px;
    display: inline-block;
  margin-left: 1500px;
    background: #3cba2d;
        width:600px;
       
    text-align: center;
}
.download {

    text-align: end;
    margin-right: 150px;
    position: absolute;
    right: 200px;
    top: 400px;
}

.btn {
    border: #0c0c0c;
    font-size: 50px;
    color: #fbfbfb;
    width: 600px;
    height: 100px;
    background: #3cba2d;
}